<!-- Barra de Navegación + Sección Principal (Hero) -->
<header>
    <nav class="navbar">
      <div class="logo">
        <img src="https://i.pinimg.com/736x/bb/24/f4/bb24f440990ac516ed9a2796510744b0.jpg" alt="T-UPAO">
      </div>
      <ul class="nav-links">
        <li><a href="#">INICIO</a></li>
        <li><a href="#">SERVICIOS</a></li>
        <li><a href="#">PLANES</a></li>
        <li><a href="#">CONTACTO</a></li>
      </ul>
      <div class="auth-links">
        <a href="#" class="login">INICIAR SESIÓN</a>
        <a href="#" class="register">REGISTRO</a>
      </div>
    </nav>
  </header>
  
  <!-- Sección Hero -->
  <section class="hero">
    <div class="content">
      <h1>TEST VOCACIONAL</h1>
      <h2>CONSTRUYE TU FUTURO!</h2>
      <p>Descubre tu vocación ideal. Con este test, podrás conocer tus talentos y cómo encajan en el mundo laboral. ¡Da el primer paso hacia tu futuro profesional!</p>
      <a href="#" class="btn-comenzar">COMENZAR</a>
    </div>
    <div class="image">
      <img src="https://media.canva.com/v2/image-resize/format:PNG/height:375/quality:100/uri:s3%3A%2F%2Fmedia-private.canva.com%2FiEQE8%2FMAGRF5iEQE8%2F1%2Fp.png/watermark:F/width:666?csig=AAAAAAAAAAAAAAAAAAAAADzKpJrCGUevdQ_YexJB7UXMILbrQBVRGRcl2Sx6Lcw5&exp=1726708887&osig=AAAAAAAAAAAAAAAAAAAAAJeOHl5y-QbjqlVUgcxu-tkNYkNdt-pA7emjjilZkZC0&signer=media-rpc&x-canva-quality=screen" alt="Estudiantes leyendo">
    </div>
    <div class="scroll-down">
      <a href="#careers-section"></a> <!-- Link hacia la nueva sección -->
    </div>
  </section>

<!-- Filtro de ciudades -->
<section id="filter-section" class="filter-section">
  <div class="filter">
    <label for="city-filter">Filtrar por ciudad:</label>
    <select id="city-filter" onchange="filterCards()">
      <option value="all">Todas</option>
      <option value="trujillo">Trujillo</option>
      <option value="piura">Piura</option>
    </select>
  </div>
</section>

  <!-- Nueva sección con tarjetas de carreras -->
<section id="careers-section" class="careers">
  <div class="card">
    <img src="https://media.canva.com/v2/image-resize/format:PNG/height:200/quality:100/uri:s3%3A%2F%2Fmedia-private.canva.com%2Ft4RtQ%2FMAGRE2t4RtQ%2F1%2Fp.png/watermark:F/width:200?csig=AAAAAAAAAAAAAAAAAAAAAGo707pChYlWfOezi06QJ1-Cmq2kO5196wG721fyf2YT&exp=1726723436&osig=AAAAAAAAAAAAAAAAAAAAAF0H-NqSQeWYxn177XfBI5_AvjwvHLwrxf-Y8mZINErK&signer=media-rpc&x-canva-quality=thumbnail" alt="Medicina">
    <h3>MEDICINA</h3>
    <p>La carrera de Medicina forma a profesionales para prevenir, diagnosticar y tratar enfermedades, mejorando la salud y calidad de vida de las personas.</p>
  </div>
  <div class="card">
    <img src="https://media.canva.com/v2/image-resize/format:PNG/height:200/quality:100/uri:s3%3A%2F%2Fmedia-private.canva.com%2FeX_Kc%2FMAGRE9eX_Kc%2F1%2Fp.png/watermark:F/width:200?csig=AAAAAAAAAAAAAAAAAAAAANhqkAP0IkoeigWa4CEV_ZPt-2yYffGPwszX3yfulyXQ&exp=1726722198&osig=AAAAAAAAAAAAAAAAAAAAAOYo2YINK0BVkxK5qfjg-OAKUWYmyKAkj8FjpkfBYatb&signer=media-rpc&x-canva-quality=thumbnail" alt="Ingeniería">
    <h3>INGENIERÍA</h3>
    <p>La carrera de Ingeniería forma a profesionales que diseñan y optimizan soluciones tecnológicas para diversos sectores, impulsando el desarrollo.</p>
  </div>
  <div class="card">
    <img src="https://media.canva.com/v2/image-resize/format:PNG/height:200/quality:100/uri:s3%3A%2F%2Fmedia-private.canva.com%2FowUVA%2FMAGRE7owUVA%2F1%2Fp.png/watermark:F/width:200?csig=AAAAAAAAAAAAAAAAAAAAALYMrhsM8KFFXWfGUEXKxzEIrT-xyUxLdLnE0q0Ry2LP&exp=1726720544&osig=AAAAAAAAAAAAAAAAAAAAAD26MFRixM18AgzmiB9bYfVlB0SJD5d1Ew9UgtCJobIJ&signer=media-rpc&x-canva-quality=thumbnail" alt="Derecho">
    <h3>DERECHO</h3>
    <p>La carrera de Derecho prepara a profesionales para asesorar y representar en temas legales, defendiendo derechos y garantizando el cumplimiento de las leyes.</p>
  </div>
  
  <!-- Segunda fila de tarjetas -->
  <div class="card">
    <img src="https://media.canva.com/v2/image-resize/format:PNG/height:200/quality:100/uri:s3%3A%2F%2Fmedia-private.canva.com%2F0tjOA%2FMAGRE50tjOA%2F1%2Fp.png/watermark:F/width:200?csig=AAAAAAAAAAAAAAAAAAAAAPDmwfZN4dUcx4JFVIwnV1pZUOEjcGLyfWG8Nzznw8ZY&exp=1726722185&osig=AAAAAAAAAAAAAAAAAAAAAFGtPsgDotMVwfi6iUmms8wKWrtSunXoEy7QkniFGw49&signer=media-rpc&x-canva-quality=thumbnail" alt="Psicología">
    <h3>PSICOLOGÍA</h3>
    <p>La carrera de Psicología forma a profesionales para comprender y mejorar el comportamiento humano, ayudando en la salud mental y bienestar emocional.</p>
  </div>
  <div class="card">
    <img src="https://media.canva.com/v2/image-resize/format:PNG/height:200/quality:100/uri:s3%3A%2F%2Fmedia-private.canva.com%2Fl875g%2FMAGRE1l875g%2F1%2Fp.png/watermark:F/width:200?csig=AAAAAAAAAAAAAAAAAAAAABJOHx4XnNj0DSDrpO2j3H4Mu37yQKo_5-XUlajk1Gv5&exp=1726722664&osig=AAAAAAAAAAAAAAAAAAAAAD1wQ63p8tzNS0X6YNGXb4Lxx9e2Wh0dy5b5m3Y4FyVL&signer=media-rpc&x-canva-quality=thumbnail" alt="Administración">
    <h3>ADMINISTRACIÓN</h3>
    <p>La carrera de Administración prepara a profesionales para gestionar recursos y tomar decisiones estratégicas, impulsando el crecimiento de las organizaciones.</p>
  </div>
  <div class="card">
    <img src="https://media.canva.com/v2/image-resize/format:PNG/height:200/quality:100/uri:s3%3A%2F%2Fmedia-private.canva.com%2F_BUBM%2FMAGRE6_BUBM%2F1%2Fp.png/watermark:F/width:200?csig=AAAAAAAAAAAAAAAAAAAAAD5MCYdMrbwrUhmvHZDdf2_TOpbFDd6YgBfni1FLGr7f&exp=1726723395&osig=AAAAAAAAAAAAAAAAAAAAACpXG_yCE1LMgxG65yeHabxTeWHymXZDP852d7zXsSfI&signer=media-rpc&x-canva-quality=thumbnail" alt="Contabilidad">
    <h3>CONTABILIDAD</h3>
    <p>La carrera de Contabilidad capacita a profesionales para analizar y gestionar la información financiera, asegurando la estabilidad económica de empresas.</p>
  </div>
</section>


  